---
- name: "{{ role_name }} | Checking for Distribution Config: {{ ansible_distribution }}"
  ansible.builtin.stat:
    path: "{{ role_path }}/tasks/{{ ansible_distribution }}.yml"
  register: distribution_config

- name: "{{ role_name }} | Run Tasks: {{ ansible_distribution }}"
  ansible.builtin.include_tasks: "{{ ansible_distribution }}.yml"
  when: distribution_config.stat.exists

- name: "Neovim | Deploy config"
  ansible.builtin.include_tasks: "{{ playbook_dir }}/override_utils/tasks/deploy_config.yml"
  vars:
    config_name: neovim
    config_dest: "{{ ansible_user_dir }}/.config/nvim"
